:root {
  --color-background: hsl(0, 0%, 7%);
  --color-foreground: hsl(0, 0%, 100%);
  --color-link: hsla(221, 89%, 50%, 0.94);
  --color-link-hover: hsla(221, 100%, 59%, 1);
  --font-body: -apple-system, 'Segoe UI', Helvetica Neue, Helvetica, Roboto, Arial, sans-serif, system-ui,
    'Apple Color Emoji', 'Segoe UI Emoji';
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--color-background);
  color: var(--color-foreground);
}

body {
  font-family: var(--font-body);
}

a {
  text-decoration: none;
  font-weight: bold;
  color: var(--color-link);
  transition: 0.3s;
}

a:hover {
  color: var(--color-link-hover);
}

.layout {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  padding: 20px;
}
