ol {
  list-style-position: inside;
}

table {
  margin-top: 15px;
}

table,
th,
td {
  border: 1px solid white;
  border-collapse: collapse;
}

img {
  max-width: 400px;
  margin: 0 auto; /* centre align hack */
}
